{% extends "finance_base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<style>
 
</style>
<main id="main" class="main">
    <div class="row">
    
        <div class="col-sm-6">
            <div class="pagetitle">
                <h1>Dashboard</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Dashboard </a></li>
                    </ol>
                </nav>
                
            </div>
        </div>
   
        <div class="col-sm-6">
            <div class="container" style="max-width:97%;">
                <div class="text-lg-end text-start"> 
                
                </div>
            </div>
        </div>

        <div class="container"> 


        </div>
    </div>
</main><!-- End #main -->
 
{% endblock content %}