{% extends "finance_base.html" %}
{% block title %}EMI{% endblock title %}
{% block content %}
<style>
 
</style>
<main id="main" class="main">
    <div class="row">
    
        <div class="col-sm-6">
            <div class="pagetitle">
                <h1>EMI</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">EMI </a></li>
                    </ol>
                </nav>
                
            </div>
        </div>
   
        <div class="col-sm-6">
            <div class="container" style="max-width:97%;">
                <div class="text-lg-end text-start"> 
                    <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#model_"><i class="mdi mdi-filter"></i> Add </a>
                         
                    <a href="" class="btn text-light"   style="background: linear-gradient(90deg, rgb(3, 32, 0) 0%,   rgb(31, 141, 0) 100%);"><i class="bi bi-file-earmark-spreadsheet"></i> | Export</a> 
                </div>
            </div>
        </div>

        <div class="container"> 


        </div>
    </div>
</main><!-- End #main -->
 
{% endblock content %}