{% extends "base_window.html" %}
{% block title %}Update EMI{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  #div_id_vehicle{
    display:none;
    border-radius:30px;
  }
</style>
<main id="main" class="main">

    
    <section class="section dashboard">
        <div class="container-fluid mb-3 form-header p-3">
            <div class="row p-1 rounded" >
                <div class="col-sm-12">
                    <div class="alert alert-warning text-center mt-2 p-1">
                        <h2>Update EMI</h2>
                    </div>  
                                 
                   <form method="POST" enctype="multipart/form-data"  > {% csrf_token %} 
                        <div class="row">
                            <!-- Vehicle Field -->
                            <div class="col-sm-6">
                                {{ form.vehicle|as_crispy_field }}
                            </div>
                            <!-- Loan Amount Field -->
                            <div class="col-sm-6">
                                {{ form.loan_amount|as_crispy_field }}
                            </div>
                            <div class="col-sm-4">
                                {{ form.loan_account_no|as_crispy_field }}
                            </div>
                            <div class="col-sm-4">
                                {{ form.emi_amount|as_crispy_field }}
                            </div>
                            <div class="col-sm-4">
                                {{ form.finance_bank|as_crispy_field }}
                            </div>
                            <!-- Total Installments Field -->
                            <div class="col-sm-4">
                                {{ form.tenure|as_crispy_field }}
                            </div>
                            <!-- Paid Installments Field -->
                            <div class="col-sm-4">
                                {{ form.paid_installments|as_crispy_field }}
                            </div>
                            <!-- Paid Installments Field -->
                            <div class="col-sm-4">
                                {{ form.interest_rate|as_crispy_field }}
                            </div>
                            <!-- Next Due Date Field -->
                            <div class="col-sm-6">
                                {{ form.next_due_date|as_crispy_field }}
                            </div>
                            <!-- File Upload Field -->
                            <div class="col-sm-6">
                                {{ form.file|as_crispy_field }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.frequency|as_crispy_field }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.status|as_crispy_field }}
                            </div>
                        </div>
                        <center><button type="submit" class="btn btn-primary mt-1 px-5">Submit</button></center>
                    </form>

                </div>  
            </div>
        </div>

         
    </section>

</main><!-- End #main -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownIds = ['id_vehicle', ];
        dropdownIds.forEach(id => {
            const element = document.getElementById(id);
            if (element) {
                new Choices(element, {
                    searchEnabled: true,
                    itemSelectText: '',
                    noResultsText: 'No matching results',
                });
            }
        });
    });
</script>

{% endblock content %}