{% extends "workshop_base.html" %}
{% block title %}Breakdown Alerts{% endblock title %}
{% block content %}
<style>
 
</style>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Breakdown Alerts</h1>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div><!-- End Page Title -->
   
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12"> <br><br>
                 
                
                 

            </div>
        </div>
    </div>
</main><!-- End #main -->
 
{% endblock content %}