{% extends "base_window.html" %}
{% block title %} Dashboard{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }



    .bill-info-header {
        background-color: #f9f9f9;
        border-radius: 12px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .info-field {
        background-color: #f1f1f1;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #ddd;
        font-size: 1rem;
        color: #555;
        width: 100%;
        text-align: left;
    }

    .info-field strong {
        color: #333;
        margin-bottom: 5px;
    }

    .col-sm-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-sm-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {

        .col-sm-3,
        .col-sm-4 {
            margin-bottom: 15px;
        }
    }


    .form-header {
        background-color: #f9f9f9;
        border-radius: 12px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }
</style>

<div class="alert alert-warning text-center mt-2 p-1">
    <h2>Job Card Management Dashboard </h2>
</div>

<main id="main" class="main">
    <div class="row">
        <div class="col-sm-12  ">
            <div class="container mt-2" style="max-width:97%;">
                <div class="text-lg-end text-start">
                    <!-- Use text-lg-end for right alignment in large screens -->
                    <a href="#" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#model_close_job_card"><i class="mdi mdi-filter"></i> Close Job Card</a>

                        <!-- Use text-lg-end for right alignment in large screens -->
                        <a href="{% url 'workshop_print_job_card' job_card.id %}" class="btn btn-primary" ><i class="mdi mdi-filter"></i>Print</a>
                </div>

            </div>
        </div>
    </div>

 
    <section class="section dashboard">

        <div class="container-fluid mb-3 bill-info-header">
            <div class="row">
                <!-- Bill No -->
                <div class="col-sm-2 mb-2">
                    <div class="info-field">
                        <strong>Job No:</strong> {{ job_card.job_card_number }}
                    </div>
                </div>

                <!-- Supplier Name -->
                <div class="col-sm-4 mb-2">
                    <div class="info-field">
                        <strong>Vehicle:</strong> {{ job_card.vehicle }}
                    </div>
                </div>

                <!-- Bill Type -->
                <div class="col-sm-3 mb-2">
                    <div class="info-field">
                        <strong>Status:</strong> {{ job_card.status }}
                    </div>
                </div>

                <!-- Bill Date -->
                <div class="col-sm-3 mb-2">
                    <div class="info-field">
                        <strong>Date:</strong> {{ job_card.date }}
                    </div>
                </div>
 
            </div>
        </div>

        <div class="container-fluid mb-3 form-header">
            <div class="row">
                <div class="col-sm-9">

                    <form action="#" method="get" class="position-relative">{% csrf_token %}
                        <select name="search_product" id="search_product" class="form-control" onchange="get_details()" required>
                            <option value="">Search Product...</option>
                            {% for r in product_data %}
                            <option value="{{ r.product_code }}">{{ r.product_name }} - ({{ r.model.model_name }})</option>
                            {% endfor %}
                        </select> 
                    </form>
                     
                   <form method="POST"> {% csrf_token %} 
                        <div class="row  mt-1 mb-3">
                            <div class="col-md-2">
                            <label
                                for="id_product_code" class="form-label requiredField">
                                Product Code<span class="asteriskField">*</span>
                            </label>
                                <input type="text" class="form-control" id="id_product_code" name="product_code" placeholder="Product Code" readonly />
                            </div>
                            <div class="col-md-4">
                            <label
                                for="id_product_name" class="form-label requiredField">
                                Product Name<span class="asteriskField">*</span>
                            </label>
                                <input type="text" class="form-control" id="id_product_name" name="product_name" placeholder="Product Name" readonly />
                            </div>
                            <div class="col-md-2">
                                {{ form.quantity|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.cost|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.total_cost|as_crispy_field }}
                            </div>

                            <div class="col-md-6">
                                <label
                                    for="model_name" class="form-label">
                                    Model Name
                                </label>
                                    <input type="text" class="form-control" id="model_name" name="model_name" placeholder="Model Name" readonly />
                            </div>
 
                            <div class="col-md-6">
                                <label
                                    for="available_stock" class="form-label">
                                    Available Stock
                                </label>
                                    <input type="text" class="form-control" id="available_stock" name="available_stock" placeholder="Available Stock" readonly />
                            </div>
 
                        </div>
                        
                        <input type="hidden" class="form-control" id="product_id" name="product_id" required />
                        
                        <center><button type="submit" class="btn btn-primary mt-1 px-5">Submit</button></center>
                    </form>

                </div> 
                <div class="col-sm-3">
                    <img src="" alt="" name="product_image" id="product_image" style=" width: 150px; height: 150px;">
                </div>
            </div>
        </div>

        <div class="container mt-3" style=" overflow:scroll;">
                 

            <table id="example" class="table table-striped "
                style="overflow:scroll; width:100%;min-width: max-content;">
                <thead class="bg-danger">
                    <tr class="bg-gradient-primary text-light ">
                        <th scope="col" class="text-center text-white" style="">Sr.No</th>
                        <th scope="col" class="text-center text-white" style="">Product Code</th>
                        <th scope="col" class="text-center text-white" style="">Product Name</th>
                        <th scope="col" class="text-center text-white" style="">Quantity</th>
                        <th scope="col" class="text-center text-white" style="">Rate</th>
                        <th scope="col" class="text-center text-white" style="">Total Amount</th>
                        <th scope="col" class="text-center text-white" style="">Action</th>
                    </tr>
                </thead>
                <tbody id="invoice_table_body">
                    {% if items %}
                    {% for r in items %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td>{{r.product.product_code}}</td>
                        <td class="text-center">{{r.product.product_name}}</td>
                        <td class="text-center">{{r.quantity}}</td>
                        <td class="text-center">{{r.cost}}</td>
                        <td class="text-center">&#8377; {{r.total_cost}}.00</td>
                        <td>
                            <center>
                                <a href="{% url 'workshop_delete_job_card_item' r.id %}" class="btn btn-danger px-3">Delete</a>
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><b>Total</b></td>
                        <td class="text-center"><b>&#8377; {{total_cost}}</b></td>
                        <td> </td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><b>Labour Cost</b></td>
                        <td class="text-center"><b>&#8377; {{labour_cost}}.00</b></td>
                        <td> </td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><b>Grand Total Cost</b></td>
                        <td class="text-center"><b>&#8377; {{grand_total_cost}}</b></td>
                        <td> </td>
                    </tr>
                     
                    {% else %}

                    {% endif %}
                </tbody>
            </table>

            
        </div>



    </section>



    <div class="modal fade" id="model_close_job_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#9c4b2e;">
                <h4 class="modal-title text-white" id="exampleModalLongTitle">Close Job Card</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="alert alert-danger d-none" id="createJobCardError"></div>
                <div>
                    {% if job_card.completed_date %}
                    <p  class="alert alert-warning"><b>Closing Date : </b> {{ job_card.completed_date }}</p>
                    {% endif %}
                </div>
                <form id="createJobCardForm" method="POST" enctype="multipart/form-data" action="{% url 'workshop_close_job_card' %}">
                    {% csrf_token %}
                    <div class="row"> 
                        <div class="col-sm-12">
                            {{ close_job_card_form|crispy }}
                            <input type="hidden" name="job_card_id" id="job_card_id" value="{{job_card.id}}">
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary bgcolor px-3" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>
</div>

</main><!-- End #main -->


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 

<script>
    function get_details() {
        var productCode = $('#search_product').val(); // Obtain the selected product code

        if (productCode) {
            $.ajax({
                url: '/workshop/get_product_details/',  // Update with your actual endpoint
                data: { 'product_code': productCode },
                type: 'GET',
                success: function(data) {
                    if (!data.error) {
                        // Populate form fields with product details
                        $('#id_product_code').val(data.product_code);
                        $('#id_product_name').val(data.product_name);
                        $('#id_cost').val(data.product_rate);
                        $('#id_quantity').val(1);
                        $('#product_id').val(data.id);
                        $('#id_total_cost').val(data.product_rate);
                        $('#model_name').val(data.model_name);
                        $('#available_stock').val(data.available_stock);

                        if (data.product_image_url) {
                            $('#product_image').attr('src', data.product_image_url);  // Set the image URL dynamically
                        } else {
                            $('#product_image').attr('src', 'default-image.jpg');  // Set a default image if not available
                        }
                        // var qty = $('#id_quantity').val(1);  // Default quantity
                        // var rate = parseFloat(data.sale_amount);
                        

                    } else {
                        console.error(data.error);
                    }
                },
                error: function(error) {
                    console.error('Error fetching product details:', error);
                    alert('Failed to fetch product details. Please try again.');
                }
            });
        } else {
            alert('Please select a valid product.');
        }
    }




    function calculate_amount(){
        var qty = $('#id_quantity').val();
        var rate = $('#id_cost').val();
        $('#id_total_cost').val(qty*rate);
    }
</script>

 

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const element = document.getElementById('search_product');
        const choices = new Choices(element, {
            searchEnabled: true,
            itemSelectText: '',
            noResultsText: 'No matching results',
        });
    });
</script>

{% endblock content %}