{% extends "base_window.html" %}
{% block title %}Update Password{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    legend {
        display: none;
    }

    .form-text {
        display: none;
    }

    .form-check {
        display: none;
    }

    #id_address {
        height: 100px;
    }

    #id_username {
        background-color: #eeeded;
    }
</style>
<main id="main" class="main">
    <section class="section dashboard">
        <div class="alert alert-warning text-center mt-2">
            <h2>Update Driver Password </h2>
        </div>
        <div class="container-fluid mb-3 form-header p-3">
            <div class="row p-1 rounded">
                <div class="col-sm-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="" class="mb-3"> <label
                                        for="driver_name" class="form-label requiredField">
                                        Driver Name<span class="asteriskField"></span> </label> 
                                        <input type="text" name="driver_name_new" placeholder="Driver Name" Value="{{driver.driver_name}}" class=" form-control"  readonly> 
                                    </div>
                                </div>
                                 {{form|crispy}}
                            </div>
                        </div>
                        <center><button type="submit" class="btn btn-primary mt-1 px-5">Update</button></center>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->


{% endblock content %}