{% extends "admin_base.html" %}
{% block title %}Vehicle List{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<main id="main" class="main">
    <div class="row">
        <div class="col-sm-6">
            <div class="pagetitle">
                <h1>Vehicle List</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Vehicle List </a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container" style="max-width:97%;">
                <div class="text-lg-end text-start">
                    <!-- Use text-lg-end for right alignment in large screens -->
                    <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#model_create_vehicle"><i class="mdi mdi-filter"></i> Add Vehicle</a>

                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#model_import_vehicle"><i class="mdi mdi-filter"></i> Import
                        Vehicle Data</a>

                </div>
            </div>
        </div>
    </div>

    
    <section class="section dashboard">
            <hr>

            <!-- Danger Alert -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Warning:</strong> Deleting this record will also remove all related data and may affect other records. Please proceed with caution.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none; margin-left: 15px;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
  
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="container" style=" overflow:scroll;">
                            <table id="vehicle" class="table table-striped "
                                style="overflow:scroll; width:100%;min-width: max-content;">
                                <thead>
                                    <tr style="background:#9c4b2e;">
                                        <th scope="col" class="text-center text-white" style="">Sr.No</th>
                                        <th scope="col" class="text-center text-white" style="">Vehicle Number</th>
                                        <th scope="col" class="text-center text-white" style="">Vehicle Name</th>
                                        <th scope="col" class="text-center text-white" style="">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if vehicle %}
                                    {% for r in vehicle %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{r.vehicle_number}}</td>
                                        <td>{{r.vehicle_name}}</td>
                                        <td>
                                            <center>
                                                <a href="javascript:void(0);" data-url="{% url 'admin_update_vehicle' r.id %}" class="btn btn-warning px-2 py-2" onclick="mini_window_2(this)">Update</a>
                                                <a href="{% url 'admin_delete_vehicle' r.id %}" class="btn btn-danger px-2 py-2" onclick="confirmDelete(this); return false;">Delete</a>
                                                  
                                            </center>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div><!-- End Left side columns -->
    </section>

</main><!-- End #main -->


<div class="modal fade" id="model_create_vehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#9c4b2e;">
                <h4 class="modal-title text-white" id="exampleModalLongTitle">Create Vehicle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="alert alert-danger d-none" id="createVehicleError"></div>
                <form id="createVehicleForm" method="POST" enctype="multipart/form-data" action="{% url 'admin_create_vehicle' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary bgcolor px-3" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="model_import_vehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#9c4b2e;">
                <h4 class="modal-title text-white" id="exampleModalLongTitle">Import Vehicle's</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <!-- Note section if needed -->
                <div class="alert alert-warning">
                    <strong>Note:</strong> Please upload a file in Excel format containing vehicle data. 
                    <a href="{% static 'Excel/Add_Vehicle_Data_Format.xlsx' %}" download>Data Format</a>
                    
                </div>
                  <!-- Form for file upload -->
                <form method="POST" enctype="multipart/form-data" action="{% url 'admin_import_vehicles' %}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="vehicleFile" class="control-label">Select Vehicle Import File</label>
                        <input type="file" class="form-control" id="vehicleFile" name="vehicle_file" accept=".csv, .xlsx, .xls" required>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary bgcolor px-3" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="model_data_formate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#9c4b2e;">
                <h4 class="modal-title text-white" id="exampleModalLongTitle">Data Formate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left"> 
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center">Vehicle Number</th>
                            <th scope="col" class="text-center">Vehicle Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Sample Data Rows -->
                        <tr>
                            <td class="text-center">ABC-123</td>
                            <td class="text-center">Toyota Corolla</td>
                        </tr>
                        <tr>
                            <td class="text-center">XYZ-456</td>
                            <td class="text-center">Honda Civic</td>
                        </tr>  
                        <tr>
                            <td class="text-center">PQR-012</td>
                            <td class="text-center">Chevrolet Malibu</td>
                        </tr>
                        <tr>
                            <td class="text-center">DEF-345</td>
                            <td class="text-center">Nissan Altima</td>
                        </tr>
                    </tbody>
                </table> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary bgcolor px-3" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the <strong id="delete_info"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a id="deleteButton" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<script>
    function confirmDelete(button) {
        var info = button.closest('tr').querySelector('td:nth-child(2)').textContent.trim();
        var deleteUrl = button.getAttribute('href');  // The delete URL
        document.getElementById('delete_info').textContent = info;
        document.getElementById('deleteButton').setAttribute('href', deleteUrl);
        new bootstrap.Modal(document.getElementById('deleteModal')).show();
    }
</script>



<script>
    $(document).ready(function () {
        $('#vehicle').DataTable({
            "scrollX": true // If you want horizontal scrolling
        });
    });
</script>

<script>
document.getElementById('createVehicleForm').addEventListener('submit', function (e) {
    e.preventDefault();
    const form = e.target;
    const formData = new FormData(form);
    const errorAlert = document.getElementById('createVehicleError');
    
    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // alert(data.message); // Show success alert// Show success alert
            location.reload();   // Refresh the page or update the list dynamically
        } else {
            let errorMessage = '<strong>Error:</strong><br>';
            for (const [field, errors] of Object.entries(data.errors)) {
                errorMessage += `${field}: ${errors.join(', ')}<br>`;
            }
            errorAlert.innerHTML = errorMessage;
            errorAlert.classList.remove('d-none');
        }
    })
    .catch(error => {
        errorAlert.innerHTML = '<strong>An unexpected error occurred. Please try again later.</strong>';
        errorAlert.classList.remove('d-none');
    });
});

</script>


<script>
    
    
    function mini_window_2(element) { 
        const url = element.dataset.url;
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var screenHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var newWidth = screenWidth * 0.4;  // 90% of the screen width
        var newHeight = screenHeight * 0.6;  // 90% of the screen height
        var left = (screenWidth - newWidth) / 2;
        var top = (screenHeight - newHeight) / 2;
        var windowFeatures = `width=${newWidth},height=${newHeight},scrollbars=yes,resizable=yes,top=${top},left=${left}`;
        var newWindow = window.open(url, "miniWindow", windowFeatures);
        newWindow.onload = function() {
            newWindow.location.replace(url);
        };
    }

</script>
{% endblock content %}