{% extends "admin_base.html" %}
{% block title %}Finance Vehicle Dashboard{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  #id_vehicle {
    pointer-events: none; /* Prevents user interaction */
    background-color: #f5f5f5; /* Optional: Makes it look like a read-only field */
    color: #6c757d; /* Optional: Gray out text for a read-only appearance */
  }
 
.details {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.record {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
}

.record:last-child {
    border-bottom: none;
}

.label {
    font-weight: 500;
    color: #555;
}

.value {
    font-weight: 700;
    color: #000;
}

.text-muted {
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
    margin-top: 1rem;
}

.card{
    height:90%;
}

fieldset {
    border: 2px solid #b9b9b9; /* Green border */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #73472a; /* Green text */
    padding-top: 0 10px;
}

</style>
<main id="main" class="main">

        <div class="row">
            <div class="col-sm-6">
                <div class="pagetitle">
                    <h1>Finance Vehicle Dashboard</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Vehicle Dashboard </a></li>
                        </ol>
                    </nav>
                </div>
            </div> 
        </div>

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-4  p-3" > 
                    <p class="alert alert-primary" style="width: 100%; margin-bottom:-20px;">Vehicle Number : <b>{{ vehicle.vehicle_number }}</b></p>
                </div>
                <div class="col-lg-8  p-3" > 
                    <p class="alert alert-primary" style="width: 100%; margin-bottom:-20px;">Vehicle Name : <b>{{ vehicle.model_name.model_name }}</b></p>
                </div>
            </div>
            <hr>
             


            <div class="row mt-3">
                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">EMI   
                            </h4>
                            <div class="mt-2 details">
                                {% if emi %}
                                <div class="record">
                                    <span class="label">File:</span>
                                    <span class="value"> <a href="/media/{{emi.file}}" download>Download</a> </span>
                                </div>
                                <div class="record">
                                    <span class="label">EMI Amount:</span>
                                    <span class="value">{{ emi_amount }}</span>
                                </div>
                                <div class="record">
                                    <span class="label">Due Date:</span>
                                    <span class="value">{{ emi.next_due_date }}</span>
                                </div> 
                                {% else %}
                                    <p>No EMI Record Found.</p>
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->
             
                
                
                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">Policy   

                            </h4>
                            <div class="mt-2 details">
                                {% if policy %}
                                <div class="record">
                                    <span class="label">Policy File:</span>
                                    <span class="value"> <a href="/media/{{policy.policy_file}}" download>Download</a> </span>
                                </div>
                                <div class="record">
                                    <span class="label">Due Date:</span>
                                    <span class="value">{{ policy.due_date }}</span>
                                </div> 
                                {% else %}
                                    <p>No Policy Record Found.</p>
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->
             
                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">Tax    
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.tax_due_date %}
                                <div class="record">
                                    <span class="label">Tax Amount:</span>
                                    <span class="value">{{ other_dues.tax_amount }}</span>
                                </div>
                                <div class="record">
                                    <span class="label">Due Date:</span>
                                    <span class="value">{{ other_dues.tax_due_date }}</span>
                                </div> 
                                <div class="record">
                                    <span class="label">Frequency:</span>
                                    <span class="value">{{ other_dues.tax_frequency }}</span>
                                </div> 
                                {% else %}
                                    <p>No Tax Record Found.</p>
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->
             

                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">Fitness Due     
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.fitness_document or other_dues.fitness_due_date %}                     
                                    {% if other_dues.fitness_document %}
                                    <div class="record">
                                        <span class="label">Fitness Document:</span>
                                        <span class="value"> <a href="/media/{{other_dues.fitness_document}}" download>Download</a>  </span>
                                    </div>
                                    {% endif %}
                                    
                                    {% if other_dues.fitness_due_date %}
                                    <div class="record">
                                        <span class="label">Due Date:</span>
                                        <span class="value">{{ other_dues.fitness_due_date }}</span>
                                    </div> 
                                    {% endif %}  
                                {% else %}
                                <p>No Fitness Due Record Found.</p>
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->
             
                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">Permit Due  
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.permit_document or other_dues.permit_due_date %}
                                    {% if other_dues.permit_document %}
                                    <div class="record">
                                        <span class="label">Permit Document:</span>
                                        <span class="value"> <a href="/media/{{other_dues.permit_document}}" download>Download</a>  </span>
                                    </div>
                                    {% endif %}
                                    

                                    {% if other_dues.permit_due_date %}
                                    
                                    <div class="record">
                                        <span class="label">Due Date:</span>
                                        <span class="value">{{ other_dues.permit_due_date }}</span>
                                    </div> 
                                    {% endif %}  
                                {% else %}
                                    <p>No Permit Due Record Found.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->
             
                
                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">PUC Due  
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.puc_document or other_dues.puc_due_date %}
                                    {% if other_dues.puc_document %}
                                    <div class="record">
                                        <span class="label">PUC Document:</span>
                                        <span class="value"> <a href="/media/{{other_dues.puc_document}}" download>Download</a>  </span>
                                    </div>
                                    {% endif %}

                                    {% if other_dues.puc_due_date %}
                                    <div class="record">
                                        <span class="label">PUC Amount:</span>
                                        <span class="value">{{ other_dues.puc_due_date }}</span>
                                    </div> 
                                    {% endif %}  
                                {% else %}
                                    <p>No PUC Due Record Found.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->

                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">RC Book   
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.rc_book %}
                                    {% if other_dues.rc_book %}
                                    <div class="record">
                                        <span class="label">RC Book :</span>
                                        <span class="value"> <a href="/media/{{other_dues.rc_book}}" download>Download</a>  </span>
                                    </div>
                                    {% endif %}
   
                                {% else %}
                                    <p>No RC Book Record Found.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->

                <div class="col-sm-4">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h4 class="card-title">Invoice    
                             </h4>
                            <div class="mt-2 details">
                                {% if other_dues.invoice %}
                                    {% if other_dues.invoice %}
                                    <div class="record">
                                        <span class="label">Invoice Document :</span>
                                        <span class="value"> <a href="/media/{{other_dues.invoice}}" download>Download</a>  </span>
                                    </div>
                                    {% endif %}
   
                                {% else %}
                                    <p>No Invoice Record Found.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!-- End Card -->


            </div>
        </section>
</main><!-- End #main -->

 

{% endblock content %}