 {% extends "website_base.html" %}
 {% block content %}
 <section class="contact-us section">
	<div class="container">
		<div class="inner">
			<div class="row"> 
				<div class="col-lg-6">
					<div class="contact-us-left">
						<!--Start Google-map -->
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d528.53886841784!2d73.847615!3d18.6471252!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b92eb7fcc071%3A0x1fa4be8628506cff!2sGLORIOUS%20CROWN!5e1!3m2!1sen!2sin!4v1736176161726!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						<!--/End Google-map -->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-us-form">
						<h2>Contact With Us</h2>
						<p>If you have any questions please fell free to contact with us.</p>
						<!-- Form -->
						<form class="form" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="name" placeholder="Name" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="email" name="email" placeholder="Email" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="mobile" placeholder="mobile" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="subject" placeholder="Subject" required="">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<textarea name="message" placeholder="Your Message" required=""></textarea>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group login-btn">
										<button class="btn" type="submit">Send</button>
									</div> 
								</div>
							</div>
						</form>
						<!--/ End Form -->
					</div>
				</div>
			</div>
		</div>
		<div class="contact-info">
			<div class="row">
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-ui-call"></i>
						<div class="content">
							<h3>+91 9881601000</h3>
							<p>vitthalminde1@gmail.com</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont-google-map"></i>
						<div class="content">
							<h3>A/P Wadkhal, near Alibuag Goa Road, Pen, Raigad.</h3>
							<p>Pune Maharashtra</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-wall-clock"></i>
						<div class="content">
							<h3>8:00am - 5:00pm</h3>
							<p>Sunday Closed</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
			</div>
		</div>
	</div>
</section>
 {% endblock content %}